<center>
  <img
    src="/photos/uploads/blue_stallion_brewery_collage3.png"
    width="440"
    height="440"
    border="0"
    usemap="#map"
  />

  <map name="map">
    <area shape="rect" coords="4,3,257,436" href="/photos/uploads/image.jpg" />
    <area
      shape="rect"
      coords="265,4,436,143"
      href="/photos/uploads/PXL_20230715_215002966.jpg"
    />
    <area
      shape="rect"
      coords="261,149,437,292"
      href="/photos/uploads/PXL_20230715_221103283.jpg"
    />
    <area
      shape="rect"
      coords="263,294,436,435"
      href="/photos/uploads/PXL_20230715_222002742.PORTRAIT.jpg"
    />
  </map>
</center>
