<center>
  <img
    src="/photos/uploads/beer_cheese_festival.png"
    width="440"
    height="440"
    border="0"
    usemap="#map"
  />

  <map name="map">
    <area
      shape="rect"
      coords="4,154,217,289"
      href="/photos/uploads/PXL_20230610_crowds.jpg"
    />
    <area
      shape="rect"
      coords="4,295,217,436"
      href="/photos/uploads/PXL_20230610_dolcimer.jpg"
    />
    <area
      shape="rect"
      coords="220,2,434,151"
      href="/photos/uploads/PXL_20230610_blvd_sign.jpg"
    />
    <area
      shape="rect"
      coords="223,156,434,438"
      href="/photos/uploads/PXL_20230610_165422542.MP.jpg"
    />
  </map>
</center>
